html body {
  background: transparent;
  background-color: #e7e7e7;
}

header {
  background-color: #e7e7e7;
}

body a {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  line-height: 1.5;
  font-size: 14px;
  color: #337ab7;
}

#main_content {
  padding-left: 10px;
}

#nostyle .list-group-item {
  background-color: transparent;
  padding-top: 2px;
  padding-bottom: 2px;
}

.container-fluid {
  height: 100%;
}

.container-fluid .row {
  height: 100%;
  padding-top: 20px;
}

/*
 * Sidebar
 */

/* Sidebar navigation */
.sidebar {
  height: 100%;
}

.nav-sidebar {                                        
  height: 100%;
  padding-top: 26px;
  margin-top: -28px;
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  background-color: #fff;
}

.nav-sidebar > li > a {
  padding-top: 10px;
  padding-right: 20;
  padding-left: 20;
  padding-bottom: 10px;
  color: #337ab7;
}

.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  background-color: #f9f9f9;
}

.nav-sidebar .list-group-item:last-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.nav-sidebar .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.navbar.navbar-default {
  margin-bottom: -5px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  cursor: auto;
}

/*
 * End Sidebar
 */

  ul.login-container {
    min-width: 470px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
  }

  ul.login-container > li > a {
    color: #337ab7;
  }

  ul.login-container > li > a:hover {
    text-decoration: underline;
    color: #337ab7;
    background-color: inherit;
  }

  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    background-color: #f5f5f5;
    color: #337ab7;
  }
