---
layout: splash
---

<div id="container" class="container">
  <div class="inner">

    {% include _page_header.html %}

    <section id="main_content">
      <h3><a id="canfar-beta" class="anchor" href="#canfar-beta" aria-hidden="true">
        <span aria-hidden="true" class="octicon octicon-link"></span></a>Astronomy</h3>

      <div class="row">
        <div class="col-md-4 showcase_section">
          <div class="inner-topic">
            <h4>About</h4>
            <p>Using a cloud based framework, CANFAR aims to provide its users with easy access to very large resources for both storage and processing.</p>
          </div>
        </div>
        <div class="col-md-4 showcase_section">
          <div class="inner-topic">
            <h4>Projects</h4>
            <p>CANFAR's international footprint extends into Astronomical Storage with cutout capabilities, to processing on demand on the Cloud.</p>
          </div>
        </div>
        <div class="col-md-4 showcase_section">
          <div class="inner-topic">
            <h4>Future</h4>
            <p>Better access to more resources, world wide collaborations, and a vast toolkit from OpenCADC.</p>
          </div>
        </div>
      </div>
    </section>

    {% include _page_footer.html %}

  </div>
</div>

