{% assign t = site.data.translations[page.lang] %}

{% assign page_namespace_items = page.namespace | split: "." %}

{% assign parent_namespace = page_namespace_items[0] %}
{% assign parent_item = t[parent_namespace] %}
{% assign child_item = t %}

{% if page_namespace_items.size > 0 %}
  {% for hier_item in page_namespace_items %}
    {% assign child_item = child_item[hier_item] %}
    {% capture child_url %}{{child_url}}{{child_item.link}}{% endcapture %}
  {% endfor %}
{% else %}
  {% assign child_item = t[parent_namespace] %}
  {% assign child_url = child_item.link %}
{% endif %}

{% capture page_lang_link %}/{{ page.lang }}{% endcapture %}
{% capture page_lang_link %}{{ page_lang_link | prepend: site.baseurl }}{% endcapture %}

<nav id="top_nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#canfar_navbar_collapse" aria-expanded="false">
        <span class="sr-only">{{ t.toggle_navigation }}</span>
      </button>
      <a class="navbar-brand" href="{{ page_lang_link }}"><img src="{{ '/css/images/logo.png' | prepend: site.baseurl }}"></a>
    </div>

    <div id="canfar_navbar_collapse" class="collapse navbar-collapse">
      <ul id="navbar_list" class="nav navbar-nav pull-right">
        <!--<li class="dropdown">-->
          <!--<a href="{{ page_lang_link }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="text-success">{{ page.lang }}</span> <span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu list-unstyled">-->
            <!--{% comment %}-->
            <!--{% for lang in site.data.translations %}-->
            <!--{% assign this_lang = lang[0] %}-->
            <!--{% if this_lang != page.lang %}-->
              <!--{% assign tx = site.data.translations[this_lang] %}-->
              <!--{% assign child_item_x = tx %}-->

              <!--{% if page_namespace_items.size > 0 %}-->
                <!--{% for hier_item in page_namespace_items %}-->
                  <!--{% assign child_item_x = child_item_x[hier_item] %}-->
                  <!--{% capture child_url_x %}{{child_url_x}}{{child_item_x.link}}{% endcapture %}-->
                <!--{% endfor %}-->
              <!--{% else %}-->
                <!--{% assign child_item_x = tx[parent_namespace] %}-->
              <!--{% endif %}-->

              <!--{% capture this_lang_link %}/{{this_lang}}{% endcapture %}-->
            <!--<li><a href="{{ this_lang_link | prepend: site.baseurl }}{{ child_url_x }}" lang="{{ this_lang }}">{{ this_lang }}</a></li>-->
            <!--{% endif %}-->
            <!--{% endfor %}-->
            <!--{% endcomment %}-->
          <!--</ul>-->
        <!--</li>-->
        <li><a href="{{ page_lang_link }}{{ t.home.link }}">{{ t.home.name }}</a></li>
        <li><a href="http://www.canfar.phys.uvic.ca/" rel="external">{{ t.portal.name }} </a></li>
        {% include __top_menu_pulldown.md name='about' %}
        {% include __top_menu_pulldown.md name='services' %}
        {% include __top_menu_pulldown.md name='resources' %}
      </ul>
    </div> <!-- end .navbar-collapse -->
  </div> <!-- end .conatiner -->
</nav>
