<div class="card text-dark bg-warning">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title"><strong>UPDATE</strong><br />Due to a cyber incident at the NRC, we recently experienced a network outage which affected all CADC and CANFAR services.  We realize the importance of our services to astronomers in Canada and internationally, and we have been working hard to restore them.  At this time, the majority of the functionality has been restored.  If you are still encountering problems, please let us know via e-mail to <a href="mailto:support@canfar.net">support@canfar.net</a>.</h5>
  </div>
</div>
