---
layout: pages_left_nav

namespace: about.governance
lang: en
permalink: /en/about/governance/
---

<!-- Content start -->

<h3>Principal Investigator</h3>
{% include __governance_item.md name='Falk Herwig' institutes='Professor, Dept. Of Physics and Astronomy, University of Victoria' %}

<h3>Executive Committee (provisional)</h3>
{% include __governance_item.md name='Falk Herwig' institutes='Professor, Dept. Of Physics and Astronomy, University of Victoria' %}
{% include __governance_item.md name='David Schade' institutes='Group Leader, Canadian Astronomy Data Centre, Adjunct Professor, Dept. Of Physics and Astronomy, University of Victoria' %}
{% include __governance_item.md name='Séverin Gaudet' institutes='National Research Council Canada, Canadian Astronomy Data Centre, ex officio' %}
{% include __governance_item.md name='Michael Peddle' institutes='National Research Council Canada, Canadian Astronomy Data Centre, ex officio' %}
{% include __governance_item.md name='Erik Rosolowsky' institutes='Associate Professor University of Alberta' %}
{% include __governance_item.md name='Laura Ferrarese' institutes='National Research Council Canada and Adjunct Professor, Dept. Of Physics and Astronomy, University of Victoria' %}

<h3>Advisory Committee</h3>
{% include __governance_item.md name='Chris Pritchet' institutes='University of Victoria' %}
{% include __governance_item.md name='René Doyon' institutes='Université de Montréal' %}
{% include __governance_item.md name='Marcin Sawicki' institutes="St. Mary's University" %}
{% include __governance_item.md name='Mike Hudson' institutes='University of Waterloo' %}
{% include __governance_item.md name='Pauline Barmby' institutes='University or Western Ontario' %}
{% include __governance_item.md name='Bryan Gaensler' institutes='University of Toronto' %}
{% include __governance_item.md name='Erik Rosolowsky' institutes='University of Alberta' %}
{% include __governance_item.md name='Laura Ferrarese' institutes='National Research Council Canada and University of Victoria' %}
{% include __governance_item.md name='Sébastien Fabbro' institutes='National Research Council Canada and the Canadian Astronomy Data Centre' %}
{% include __governance_item.md name='Douglas Scott' institutes='University of British Columbia' %}
{% include __governance_item.md name='Ray Carlberg' institutes='University of Toronto' %}
{% include __governance_item.md name='Ludo von Waerbeke' institutes='University of British Columbia' %}
{% include __governance_item.md name='Rob Thacker' institutes="St. Mary's University" %}
{% include __governance_item.md name='James Wadsley' institutes='McMaster University' %}
{% include __governance_item.md name='JJ Kavelaars' institutes='National Research Council Canada and University of Victoria' %}
{% include __governance_item.md name='Alison Sills' institutes='McMaster University' %}
{% include __governance_item.md name='Laura Parker' institutes='McMaster University' %}


<!-- Content end -->